#### Python Programming Fundamentals
1. Conditions and branchings
2. loops
3. Functions
4. Exception handling
5. Objects and classes (Foundation of oops)
6. Understand attributes and methods
7. How real world problems can be modeled using OOP principles

#### Conditions and Branching

In [1]:
a = 6
a == 7

False

In [2]:
a == 6

True

In [3]:
6>3

True

In [4]:
6 != 4

True

In [5]:
"Awais" == "Awais"

True

In [6]:
age = int(input("Enter your age"))
if age < 18:
    print("Cannot ente")

Enter your age 2

Cannot ente

In [7]:
'B' > 'A'

True

In [8]:
'BA' > 'AB'

True

In [9]:
'a' > 'A'

True

In [10]:
1 = 2

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (690182220.py, line 1)

In [11]:
'a' == 'A'

False

#### Loops

In [12]:
range(3)

range(0, 3)

In [13]:
range(10,14)

range(10, 14)

In [14]:
for i in range(10,14):
    print(i)

10
11
12
13

In [18]:
Squares = ['red', 'yellow', 'green', 'purple', 'blue']
for i in range(0,5):
    Squares[i] = "White"
    print(Squares)

['White', 'yellow', 'green', 'purple', 'blue']
['White', 'White', 'green', 'purple', 'blue']
['White', 'White', 'White', 'purple', 'blue']
['White', 'White', 'White', 'White', 'blue']
['White', 'White', 'White', 'White', 'White']

In [1]:
4*3

12

In [3]:
for i, supuare in enumerate(Squares):
    square
    i

NameError: name 'Squares' is not defined

In [5]:
Squares = ["Red", "Yellow", "Green"]
for i, square in enumerate(Squares):
    print(square)
    print(i)

Red
0
Yellow
1
Green
2

In [6]:
## While loops

In [7]:
squares = ['orange', 'orange', 'purple', 'blue']
New_squares = []
i = 0
while (squares[i] == 'orange'):
    New_squares.append(squares[i])
    i += 1
    print(New_squares)

['orange']
['orange', 'orange']

In [8]:
### The Enumerated for Loop
fruits = ['apple', 'orange', 'cucamber', 'guava']
for index, fruit in enumerate(fruits):
    print(f"At position {index}, I found a {fruit}")

At position 0, I found a apple
At position 1, I found a orange
At position 2, I found a cucamber
At position 3, I found a guava

In [9]:
## Giving it a practice 
colors = ['blue', 'green', 'white', 'black']
for i, color in enumerate(colors):
    print(f'At index {i}. I found {color}')

At index 0. I found blue
At index 1. I found green
At index 2. I found white
At index 3. I found black

In [15]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [16]:
for x in range(0,3):
    print(x)

0
1
2

In [17]:
for x in ['A', 'B', 'C']:
    print(x + 'A')

AA
BA
CA

In [18]:
dates = [1823, 4213, 2311]
N = len(dates)
for i in range(N):
    print(dates[i])

1823
4213
2311

In [19]:
for i in dates:
    print(i)

1823
4213
2311

In [20]:
squares = ['red', 'blue', 'white', 'green', 'purple', 'white']
for i in range(0,5):
    print('Before square', i, 'is', squares[i])
    squares[i] = 'white'
    print('After square', i, 'is', squares[i])

Before square 0 is red
After square 0 is white
Before square 1 is blue
After square 1 is white
Before square 2 is white
After square 2 is white
Before square 3 is green
After square 3 is white
Before square 4 is purple
After square 4 is white

In [21]:
dates = [1432, 3212, 43, 22]
i = 0
year = dates[0]
while (year != 22):
    print(year)
    i += 1
    year = dates[i]
print("It took", i , "repitiions to get out of loop.")

1432
3212
43
It took 3 repitiions to get out of loop.

In [22]:
for num in range(0,10):
    if num == 5:
        print('Breaking the loop at', num)
        break
    print(num)

0
1
2
3
4
Breaking the loop at 5

In [28]:
if num == 5:
    continue
    print('Skipping the value:', num)
    print(num)

SyntaxError: 'continue' not properly in loop (3039480799.py, line 2)

In [31]:
for num in range(2,6):
    if num == 3:
        continue
    print(num)

2
4
5

In [30]:
for num in range(1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

In [32]:
count = 0
while count < 10:
    count += 1
    if count == 3:
        continue
    if count == 8:
        break
    print(count) #3 will be skipped start from zero to 7

1
2
4
5
6
7

In [33]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 # This prints the value 10 only once 
    Rating = PlayListRatings[i]
    i = i + 1 #Try uncommenting the line and comment the previous i = i + 1, and see the difference, 10 value will get printed twice because when the loop starts it will print Rating and then with PlayListRatings[0], it will again assign the value 10 to Ratings.

10
9.5
8

#### Functions

In [38]:
def function(a):
    # add 1 to a
    b = a+1
    print(a, " + 1 = ", b)
    return b

In [39]:
function(3)

3  + 1 =  4

4

In [40]:
def f1(input):
    output = input+1;
    return output
def f2(input):
    output = input +2;
    return output

In [41]:
f1(3)

4

In [42]:
f2(5)

7

In [43]:
L = [23,2, 42, 23,4]
sum(L)

94

In [44]:
sorted(L)

[2, 4, 23, 23, 42]

In [45]:
max(L)

42

In [46]:
album_ratings = [1,443,13,53,12,42,2,64,23,6,344,2]
sorted_ratings = sorted(album_ratings)
print(sorted_ratings)

[1, 2, 2, 6, 12, 13, 23, 42, 53, 64, 344, 443]

In [48]:
# Making own funtions
def add1(a):
    b = a+1
    return b

In [49]:
add1(32)

33

In [50]:
'''add 1 to a '''

'add 1 to a '

In [51]:
def Mult(a, b):
    c = a*b
    return c

In [52]:
Mult(3,23)

69

In [53]:
Mult('michael', 4)

'michaelmichaelmichaelmichael'

In [54]:
def Mj():
    print('Michael Jackson')
Mj()

Michael Jackson

In [57]:
def NoWork():
    pass

In [60]:
print(NoWork())

None

In [61]:
def stuff(Stuff):
    for i, s in enumerate(Stuff):
        print('Ablum', i, "Rating is", s)

In [62]:
album_ratings = [32,2,3,423,2]
stuff(album_ratings)

Ablum 0 Rating is 32
Ablum 1 Rating is 2
Ablum 2 Rating is 3
Ablum 3 Rating is 423
Ablum 4 Rating is 2

In [65]:
## Collecting Arguments
def ArtistNames (*names):
    for name in names:
        print(name)

In [66]:
ArtistNames('Awais', 'Ali', '34', 4)

Awais
Ali
34
4

In [68]:
def Thriller():
    Date = 1832
    return Date

In [71]:
print(Thriller())

1832

In [72]:
def multiply(a, b):
    """
    This function multiplies two numbers.
    Input: a (number), b (number)
    Output: Product of a and b
    """
    print(a * b)
multiply(2,6)

12

In [73]:
multiply(32,233)

7456

In [74]:
global_variable = "I am global"
def example_function():
    local_variable = "I'm local"
    print(global_variable)  # Accessing global variable
    print(local_variable)   # Accessing local variable

In [76]:
example_function()

I am global
I'm local

In [77]:
def print_numbers(limit):
    for i in range(1, limit+1):
        print(i)

print_numbers(5)  # Output: 1 2 3 4 5

1
2
3
4
5

In [78]:
print_numbers(3)

1
2
3

In [79]:
def greet(name):
    return "Hello, " + name

for _ in range(3):
    print(greet("Alice"))

Hello, Alice
Hello, Alice
Hello, Alice

In [80]:
my_list = []

#Function to add elements
def add_element(data_structure, element):
    data_structure.append(element)

def remove_element(data_structure, element):
    if element in data_structure:
        data_structure.remove(element)
    else:
        print(f'{element} not found in list.')

In [87]:
add_element(my_list, 32)
add_element(my_list, 321)
add_element(my_list, 231)
my_list

[32, 32, 321, 231]

In [89]:
remove_element(my_list, 32)
my_list

NameError: name 'remove_element' is not defined

In [90]:
def remove_value (listt, element):
    if element in listt:
        listt.remove(element)
    else:
        print(f'{element} not available in the list')

In [91]:
L = [32,2,3,35,2,1,53]

In [93]:
remove_value(L, 32)
L

32 not available in the list

[2, 3, 35, 2, 1, 53]

In [94]:
def type_of_album(album, year_released):
    print(album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "oldie"

In [96]:
type_of_album('Bodygaurd', 1980)

Bodygaurd 1980

'oldie'

In [97]:
def freq(string):
    words = []
    words = string.split()
    Dict = {}
    for key in words:
        Dict[key] = words.count(key)
    print("The frequency of words is", Dict)

In [98]:
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

The frequency of words is {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

In [101]:
def isGoodRating(rating = 4):
    if(rating < 7):
        print('this ablum sucks its rating is', rating)
    else:
        print('this album is good its rating is', rating)

In [104]:
isGoodRating(8)

this album is good its rating is 8

In [105]:
isGoodRating()

this ablum sucks its rating is 4

In [106]:
# Example of global variable

album = "The BodyGuard"
def printer1(album):
    internal_var1 = "Thriller"
    print(album, "is an album")
    
printer1(album )
# try runningthe following code
#printer1(internal_var1)

The BodyGuard is an album

In [107]:
album = "The BodyGuard"

def printer(album):
    global internal_var 
    internal_var= "Thriller"
    print(album,"is an album")

printer(album) 
printer(internal_var)

The BodyGuard is an album
Thriller is an album

In [108]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [109]:
L=[1,3,2]
sorted(L)

[1, 2, 3]

In [110]:
def print_function(A):
    for a in A:
        print(a + '1')
print_function(['a', 'b', 'c'])

a1
b1
c1

#### Exception Handling

In [115]:
## Try...except statement
try:
    getfile = open('myfile', 'r')
    getfile.write('File for exception handling')
except IOError:
    print('Unable to open or read the data in the file')
else:
    print("The file was written successfully")

Unable to open or read the data in the file

In [117]:
a = 1
try:
    b = int(input("Please enter a number to divide a: "))
    a = a / b
    print("Success a =", a)
except:
    print("There was an error")

Please enter a number to divide a:  0

There was an error

In [118]:
10/0

ZeroDivisionError: division by zero

In [119]:
try:
    10/0
except:
    print('cannot divide')

cannot divide

In [120]:
num = int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [121]:
my_list = [1, 2, 3]
value = my_list[1]  # No IndexError, within range
missing = my_list[5]  # Raises IndexError

IndexError: list index out of range

In [122]:
# using Try- except 
try:
    # Attempting to divide 10 by 0
    result = 10 / 0
except ZeroDivisionError:
    # Handling the ZeroDivisionError and printing an error message
    print("Error: Cannot divide by zero")
# This line will be executed regardless of whether an exception occurred
print("outside of try and except block")

Error: Cannot divide by zero
outside of try and except block

In [125]:
try:
    10/0
except:
    print("Cannot divide by the zero")

Cannot divide by the zero

In [128]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a r

There was an error

In [133]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Please enter a number to divide a ds

You did not provide a number

In [136]:
a = 10 
try:
    b = int(input("Enter a number"))
    a = a/b
    print("Success a= ", a)
except ZeroDivisionError:
    print("You enered the zero")
except ValueError:
    print("Enter digit")

Enter a number df

Enter digit

In [140]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a 1

success a= 1.0
Processing Complete

In [146]:
#Type your code here
def safe_divide(numerator,denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None
    
# Test case
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))

Enter the numerator value:- 23
Enter the denominator value:- 2

11.5

#### Object and classes

In [147]:
t1 = (1,2,3,4)
t2 = (1,2,4,5)
print(t1<t2)

True

In [148]:
t1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [149]:
t1 + t2

(1, 2, 3, 4, 1, 2, 4, 5)

In [151]:
Dict = {
    'MFG':2, 'MFG' : 3
}

In [153]:
print(Dict['MFG'])

3

In [154]:
t1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [156]:
Ratings = [2,3,1,32,323,3,2]
print(Ratings.reverse())

None

In [163]:
import matplotlib.pyplot as plt
%matplotlib inline

In [164]:
# Create a class Circle

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

In [165]:
# Create an object RedCircle

RedCircle = Circle(10, 'red')

In [166]:
class Circle(object):
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color


    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return self.radius