### Read File with open

In [3]:
file = open('Sample.txt', 'w')
file.close()

In [5]:
with open('sample.txt', 'w') as file:
    file.write("Hi this is Awais Ali. \nI am learning Python. \nI also want to work in a software house")

In [6]:
file.close()

In [7]:
with open('sample.txt', 'r') as file:
    data = file.read()
    print(data)

Hi this is Awais Ali.
I am learning Python.
I also want to work in a software house

In [8]:
print(data)

Hi this is Awais Ali.
I am learning Python.
I also want to work in a software house

In [9]:
data

'Hi this is Awais Ali. \nI am learning Python. \nI also want to work in a software house'

In [11]:
file.name

'sample.txt'

In [12]:
file.mode

'r'

In [13]:
#with open file automatically close
with open('sample.txt', 'r') as file:
    file_stuff = file.read()
    print(file_stuff)
print(file.close())
print(file_stuff)

Hi this is Awais Ali.
I am learning Python.
I also want to work in a software house
None
Hi this is Awais Ali.
I am learning Python.
I also want to work in a software house

In [14]:
print(file_stuff)

Hi this is Awais Ali.
I am learning Python.
I also want to work in a software house

In [15]:
print(file.closed)

True

In [16]:
print(file.close())

None

In [17]:
print(file_stuff)

Hi this is Awais Ali.
I am learning Python.
I also want to work in a software house

In [26]:
with open('sample.txt', 'r') as file:
    file_stuff = file.readline(4)
    print(file_stuff)
    file_stuff = file.readline(8)
    print(file_stuff)
    file_stuff = file.readline(18)
    print(file_stuff)
    for line in file:
        print(line)

Hi t
his is A
wais Ali.

I am learning Python.

I also want to work in a software house

In [25]:
with open('sample.txt', 'r') as file:
    for line in file:
        print(line)

Hi this is Awais Ali.

I am learning Python.

I also want to work in a software house

In [28]:
with open('sample.txt', 'r') as file:
    line1 = file.readline()
    line2 = file.readline()
    line3 = file.readline()
    if 'Awais' in line1:
        print("Available")

Available

In [29]:
if 'learning' in line2:
    print("Availble")

Availble

In [30]:
if 'sss' in line3:
    print('Avaible')
else: 
    print("Not availbe")

Not availbe

Looping through lines: Typically, you use a loop to read lines until no more lines are left. t's like reading the entire book, line by line.

In [34]:
file = open('sample.txt', 'r')
file.seek(10)

10

In [35]:
file.read(5)

' Awai'

In [36]:
# Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

# Download Example file
!wget Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [37]:
from pyodide.http import pyfetch

import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):

    response = await pyfetch(url)

    if response.status == 200:

        with open(filename, "wb") as f:

            f.write(await response.bytes())

await download(filename, "example1.txt")

print("done")

ModuleNotFoundError: No module named 'pyodide'

In [39]:
with open('sample.txt', 'r') as file:
    i = 0;
    for line in file:
        print("Iteration", (i), ": ", line)
        i += 1

Iteration 0 :  Hi this is Awais Ali.

Iteration 1 :  I am learning Python.

Iteration 2 :  I also want to work in a software house

In [40]:
with open('sample.txt', 'r') as file:
    fileAsList = file.readlines()
    print(fileAsList)

['Hi this is Awais Ali. \n', 'I am learning Python. \n', 'I also want to work in a software house']

In [42]:
fileAsList[1]

'I am learning Python. \n'

### Writing file with Open

In [44]:
with open('sample.txt', 'a') as file:
    file.write("This is New line \nthis is second new line \nThis is third new line")

In [46]:
with open('sample.txt', 'r') as file:
    read = file.read()
    print(read)

Hi this is Awais Ali.
I am learning Python.
I also want to work in a software houseThis is New line
this is second new line
This is third new lineThis is New line
this is second new line
This is third new line

In [47]:
Lines = ["I am adding a list. \nThird line is added"]
with open('sample.txt', 'w') as file:
    for line in Lines:
        file.write(line)

In [48]:
with open('sample.txt', 'r') as file:
    read = file.read()
    print(read)

I am adding a list.
Third line is added

In [49]:
with open('sample.txt', 'r') as readfile:
    with open('sample2.txt', 'w') as writefile:
        for line in readfile:
            writefile.write(line)

In [50]:
with open('sample2.txt', 'r') as file:
    read = file.read()
    print(read)

I am adding a list.
Third line is added

In [53]:
Lines = ['This is line1', 'This is line2', 'This']
with open('sample3.txt', 'w') as file2:
    for line in Lines:
        file2.write(line + "\n")
        file2.read()

UnsupportedOperation: not readable

In [52]:
file2.read()

ValueError: I/O operation on closed file.

In [55]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This a line A")

In [56]:
with open(exmp2, 'r') as readfile:
    stuff = readfile.read()

In [57]:
print(stuff)

This a line A

In [58]:
with open (exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [60]:
with open (exmp2, 'r') as readfile:
    data = readfile.read()

In [61]:
print(data)

This is line A
This is line B

In [62]:
# Sample list of text
Lines = ['I am learning Python \n', 'It very interesting \n', 'I am learning from IBM']

In [63]:
with open(exmp2, 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

I am learning Python

It very interesting

I am learning from IBM

In [65]:
with open(exmp2, 'w') as writefile:
    writefile.write('Overwrite\n')
with open(exmp2, 'r') as readfile:
    print(readfile.read())

Overwrite

In [71]:
with open(exmp2, 'a') as testwritefile:
    testwritefile.write("Hi, How is it going\n?")
    testwritefile.write("I am doing great\n")
    testwritefile.write("Okay whats new\n")

In [72]:
with open(exmp2, 'r') as readfile:
    print(readfile.read())

Overwrite
Hi, How is it going
?I am doing great
Hi, How is it going
?I am doing great
Okay whats newHi, How is it going
?I am doing great
Okay whats new

In [77]:
with open(exmp2, 'a+') as test:
    test.write("This a+")
    tes = test.read()
    print(tes)

### Pandas: Loading Data
1. For data analysis
2. Pre built functions and classes

In [4]:
#Creating a data frame using the Dictionary
import pandas as pd
songs = {
    'Album' : ['Thriller', 'Back in Black', 'The Dark side of the Moon',\
              'The Bodygaurd', 'Bat out of the Hell'],
    'Realeased': [1982, 1992, 1973, 1992, 1977],
    'Length': ['00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33']
}
songs_frame = pd.DataFrame(songs)
songs_frame

                       Album  Realeased    Length
0                   Thriller       1982  00:42:19
1              Back in Black       1992  00:42:11
2  The Dark side of the Moon       1973  00:42:49
3              The Bodygaurd       1992  00:57:44
4        Bat out of the Hell       1977  00:46:33

In [11]:
print(songs_frame.iloc[4,2])

00:46:33

In [12]:
df = songs_frame
df.index = ['a', 'b', 'c', 'd', 'e']
df

                       Album  Realeased    Length
a                   Thriller       1982  00:42:19
b              Back in Black       1992  00:42:11
c  The Dark side of the Moon       1973  00:42:49
d              The Bodygaurd       1992  00:57:44
e        Bat out of the Hell       1977  00:46:33

In [14]:
df.iloc[0:2, 0:3]

           Album  Realeased    Length
a       Thriller       1982  00:42:19
b  Back in Black       1992  00:42:11

### Pandas: Working with and Saving Data

In [17]:
df['Realeased'].unique()

array([1982, 1992, 1973, 1977])

In [18]:
df['Realeased']>1900

a    True
b    True
c    True
d    True
e    True
Name: Realeased, dtype: bool

### Reading
**Data Structures**
1. DataFrame:
   - Two-Dimensional
   - size-mutable
   - heterogeneous tabular data tructure
     - with labeled axes(rows and columns)
2. Series:
   - One-dimensional labeled array,
   - single column or row

In [21]:
# Series Example
import pandas as pd
data = [10,30, 19, 18, 17, 30]
s = pd.Series(data)
s

0    10
1    30
2    19
3    18
4    17
5    30
dtype: int64

In [22]:
print(s[2])

19

In [23]:
print(s.iloc[3])

18

In [24]:
print(s[:3])

0    10
1    30
2    19
dtype: int64

In [29]:
data = {
    'Name': ['Ali', 'Awais', 'Imran', 'Haroon', 'Saad'],
    'Age': [32,54, 23,53,12],
    'City': ['Lhr', 'ISB', 'Krch', 'Pindi', 'Mltn']
}
df = pd.DataFrame(data)
df['Name']

0       Ali
1     Awais
2     Imran
3    Haroon
4      Saad
Name: Name, dtype: object

In [31]:
print(df.iloc[2])

Name    Imran
Age        23
City     Krch
Name: 2, dtype: object

In [32]:
print(df.iloc[1])

Name    Awais
Age        54
City      ISB
Name: 1, dtype: object

In [35]:
print(df[['Name', 'Age']])
print(df[1:3])

     Name  Age
0     Ali   32
1   Awais   54
2   Imran   23
3  Haroon   53
4    Saad   12
    Name  Age  City
1  Awais   54   ISB
2  Imran   23  Krch

In [37]:
unique_dates = df['Age'].unique()
unique_dates

array([32, 54, 23, 53, 12])

In [42]:
high_above_102 = df[df['Age']>50]
high_above_102

     Name  Age   City
1   Awais   54    ISB
3  Haroon   53  Pindi

In [43]:
df.to_csv('trading_data.csv', index=False)

In [44]:
titanic = pd.read_csv('E:\\titanic.csv')

In [45]:
titanic.to_csv('Titanic.csv')